/* Theme Colors */
$alizarinCrimson: "#DA1E28";
$anakiwa: "#B2DEFF";
$aquamarine: "#87FDB9";
$arsenic: "#EBEBEB";
$azureRadiance: "#0085FF";
$azureishWhite: "#DCE1EB";
$baliHai: "#7F86AA";
$black: "#000000";
$blueChalk: "#ECE2FF";
$blueRibbon: "#0062F5";
$blueStudio: "#06243F";
$blueStudioContrast: "#192833";
$blueStudioHover: "#1976d226";
$blueStudioSelected: "#1976d24d";
$brightGray: "#3F4252";
$brightSun: "#FFD540";
$carnation: "#FA4D56";
$carouselPink: "#FBE7EF";
$casper: "#A6B9CA";
$cerulean: "#00BEEA";
$chateauGreen: "#42BE65";
$citrineWhite: "#FAEADC";
$coconoutCream: "#F8F0DB";
$darkElectricBlue: "#566E85";
$ebonyClay: "#282D40";
$electricViolet: "#5900FF";
$eucalyptus: "#24A148";
$flamenco: "#FE800C";
$gainsboro: "#D8DDEA";
$goldenrod: "#FFD567";
$gray: "#888484";
$hanBlue: "#3A7BD5";
$heliotrope: "#A575FF";
$hotPink: "#FF6FAA";
$hummingBird: "#DFF6FB";
$java: "#17D1C4";
$lavender: "#E7EAF1";
$lightGray: "#839192";
$lighterGray: "#D5D8DC";
$oxfordBlue: "#354757";
$pewterBlue: "#93A9BE";
$rose: "#FD0069";
$sandyBrown: "#F29E50";
$shakespeare: "#46BCD8";
$silverChalice: "#ACACAC";
$teaGreen: "#c9ffc1";
$tranquil: "#E2FEFC";
$turqoise: "#29CBC0";
$vividSkyBlue: "#00D2FF";
$white: "#ffffff";
$whiteLilac: "#F2F5FA";
$yellowSea: "#F0AF03";
$gainsboro: "#dddbdb";
$darkGunMetal: "#222628";

/* Css variables */
:root {
  --color-black: #{$black};
  --color-button-shadow: #{$gainsboro};
  --color-dark-row-background: #{$darkGunMetal};
  --color-green: #{$eucalyptus};
  --color-light-blue-studio-contrast: #{$pewterBlue};
  --color-light-row-background: #{$gainsboro};
  --color-red: #{$carnation};
  --color-silver-chalice: #{$silverChalice};
  --color-text-input: #{$casper};
  --color-text-label: #{$darkElectricBlue};
  --color-white: #{$white};
}
