.font-family-400 {
  font-family: Inter-Regular, sans-serif;
}

.font-family-600 {
  font-family: Inter-SemiBold, sans-serif;
}

.font-family-300 {
  font-family: Inter-Light, sans-serif;
}
